
<div id="vis" style="width: 100%; height: 668px;"></div>
<div>
<script>

var childModal = document.getElementById('{{ child.objectid }}')

childModal.addEventListener('shown.bs.modal', event => {

  var spec = "{{ child.object_location }}";
  var embedOpt = {"mode": "vega-lite"};

  function showError(el, error){
      el.innerHTML = ('<div style="color:red;">'
                      + '<p>JavaScript Error: ' + error.message + '</p>'
                      + "<p>This usually means there's a typo in your chart specification. "
                      + "See the javascript console for the full traceback.</p>"
                      + '</div>');
      throw error;
  }
  const el = document.getElementById('vis');
  vegaEmbed("#vis", spec, embedOpt)
    .catch(error => showError(el, error));
  
})

</script></div>
